.my-button{
  // border-style: solid;
  border: $border;
  // border-color: rgb(224, 224, 224);
  border-radius: 4px;
  background-color: rgb(246, 246, 246);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.11);
  -ms-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.11);
  height: 33px;
  background-image: url('../img/button-texture.png');
  background-repeat: no-repeat;
  padding: 0px 20px;
  background-position: 98% 90%;
  font-family: $lato;
  font-weight: $regular;
  color: $light-grey;
  font-size: 14px;
  transition: all 0.3s ease 0s;
  // width: 100%;
  // margin: 0;
}

.my-button:hover{
  border-color: $orange;
  color: $orange;
  box-shadow: inset 0px 0px 5px 0px rgba(223, 112, 57, 0.11);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(223, 112, 57, 0.11);
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(223, 112, 57, 0.11);
  -ms-box-shadow: inset 0px 0px 5px 0px rgba(223, 112, 57, 0.11);
}

.account-button{
	float: right;
}

.menu-button{
	padding-left: 10px;
	padding-right: 20px;
}

.action-button{
	border-color: $orange;
  color: $orange;
  box-shadow: inset 0px 0px 5px 0px rgba(223, 112, 57, 0.11);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(223, 112, 57, 0.11);
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(223, 112, 57, 0.11);
  -ms-box-shadow: inset 0px 0px 5px 0px rgba(223, 112, 57, 0.11);
}

.action-button:hover{
	color: $background;
	background-color: $orange;

}

.owl-theme .owl-nav [class*='owl-']{
  // border-style: solid;
  border: $border;
  // border-color: rgb(224, 224, 224);
  border-radius: 4px;
  background-color: rgb(246, 246, 246);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.11);
  -ms-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.11);
  height: 33px;
  background-image: url('../img/button-texture.png');
  background-repeat: no-repeat;
  padding: 0px 20px;
  background-position: 98% 90%;
  font-family: $lato;
  font-weight: $regular;
  color: $light-grey;
  font-size: 14px;
  transition: all 0.3s ease 0s;
  // width: 100%;
}