.hero{
	width: 100%;
	padding: 0 0 20px 0;
	height: 80vh;
}

.hero h2{
  font-size: 16px;
  color: $dark-grey;
  font-weight: bold;
  line-height: 1.751;
  letter-spacing: 4px;
}

.hero p{
  font-size: 16px;
  color: $light-grey;
  line-height: 1.438;
}

.hero-transform{
  transform: translate3d(330px, -410px, 0);
}

.search-box{
	// margin: 10px 0px;
  margin: 0;
}

.card{
  border-style: solid;
  border-width: 1px;
  border-color: rgb(224, 224, 224);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 10px 0px;
}

.card-title{
  font-size: 16px;
  // font-family: $lato;
  color: $orange;
  font-weight: $bold;
  line-height: 16px;
  text-align: left;
  display: inline-block;
}

.card-view{
  float: right;
  font-size: 16px;
  color: $orange;
  line-height: 16px;
  text-align: left;
  font-weight: $light;
}

.top-strip{
  width: 100%;
  display: block
}

.slider-image{
  height: 200px;
  width: 200px;
}

.product{
  width: 200px;
  display: inline-block;
}

.product p{
  font-size: 16px;
  margin: 10px 0px 8px 0px;
  font-family: $lato;
  color: $light-grey;
  line-height: 16px;
}

.seperator{
  width: 200px;
  height: 2px;
  background-color: $v-light-grey;
}

.product h3{
  font-size: 24px;
  font-family: $lato;
  color: $dark-grey;
  line-height: 24px;
  max-width: 200px;
  margin: 8px 0px 0px 0px;
  display: inline-block;
}

.product-bottom{
  width: 200px;
}

.product button{
  display: inline-block;
  float: right;
  margin-top: 8px;
  height: 33px;
}

.slick-slide {outline: none;}

.slider-buttons{
  transform: translateY(-180px);
  height: 0;
}

.slider-next{
  float: right;
}

.footer{
  width: 100%;
  background-color: $orange;
  color: $background;
  text-align: center;
}

.footer p{
  margin: 10px 0;
}