.categories a{
  color: $light-grey;
}

* {
	font-family: $lato;
}

.link-active{
  color: $orange!important;
}

.added-product-images{
	// height: 400px;
	text-align: center;
	width: 100%;
	// background-color: $background-grey;
}

.big-square-button{
	width: 200px;
	height: 200px;
	display: inline-block;
}

.reveal {
	background-color: $background;
}

.added-product-images img, .added-product-images button{
	margin: 10px;
}

.modal-submit{
	position: absolute;
}

.modal-cancel{
	margin-left: 82px;
}

#price_sort{
    width: auto;
    height: 33px;
    font-size: 12px;
    line-height: 23px;
    padding: 0 40px;
    margin-top: 20px;
}

.button:hover, .button:focus{
	background-color: $background;
}


.product-display h3{
	font-size: 30px;
    line-height: 43px;
    color: #0a0a0a;
}


